{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <a href="{% url 'home' %}" class="home-button">
        <img src="{% static 'images/home.svg' %}" alt="Home" />
    </a>
    <h1>Search <br> Visualizer</h1>
    <form action="{% url 'search' %}" method="GET">
        <label for="size-slider">Size: {{ size }}</label>
        <input type="range" min="10" max="40" value="{{ size }}" id="size-slider" name="size">
        <label for="speed-slider">Speed: {{ speed }}</label>
        <input type="range" min="1" max="5" step="1" value="{{ speed }}" id="speed-slider" name="speed">
        <button type="submit">Generate Array</button>
        <button id="reset-button" type="button">Reset</button>
    </form>
</header>
<main>
    <div id="visualizer-container" class="visualizer-container">
        <!-- Bars for the array will be dynamically created here -->
    </div>
    <div class="button-container">
        <button onclick="runLinearSearch()">Linear Search</button>
        <button onclick="runBinarySearch()">Binary Search</button>
        <input type="number" id="target-input" placeholder="Target:" min="1" max="50">
    </div>
</main>

<script src="{% static 'js/search.js' %}"></script>
<script type="application/json" id="data-script">
    {
        "random_array": {{ random_array|safe }},
        "size": {{ size }},
        "speed": {{ speed }}
    }
</script>
{% endblock %}
